<section class="w-full p-20 max-w-[1400px] mx-auto">
  <h3 class="uppercase">Guía de la 3ra Edición de los premios ESLAND</h3>

  <lite-youtube
    class="shadow-2xl shadow-white/10"
    videoid="aL8kcA3ZDOs"
    videotitle="Guía de la 3ra Edición de los premios ESLAND"></lite-youtube>
</section>

<script>
  import "@justinribeiro/lite-youtube";
</script>
